<%- include("partials/header"); -%>

  <h1>Contact Me</h1>
  <br>
  <h4>You can contact me via my email or any of my other profiles below:</h4>
  <br>
  <br>

  <a href="mailto:anant.mathur007@gmail.com?subject=Hello Anant">anant.mathur007@gmail.com</a>
  <br>
  <a href="https://github.com/Anantm007">Github</a>
  <br>
  <a href="https://www.linkedin.com/in/anant-mathur-61911423/">LinkedIn</a>

  <%- include("partials/footer"); -%>
